/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-main {
    @apply w-full py-2 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 transition duration-300 active:scale-95 active:bg-blue-800;
  }
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}
/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example additional styles */
img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

